<div class="row animated fadeIn">
    <div class="col-12 ">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="searchuser(input.value)" type="text" name="" class="form-control" id="" placeholder="Buscar...">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf='loading'>
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin da-2x"></i>
            <br>
            <span>Epere por favor</span>
        </div>

    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12 ">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Usuarios registrados ( <small> {{total}} </small> )</h3>
                <hr>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th> Imagen </th>
                            <th> Correo </th>
                            <th> Nombre </th>
                            <th> Role </th>
                            <th> Auth </th>
                            <th> </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let user of users">
                            <td class="w70">
                                <img (click)="showModal(user);" [src]="user.img | image" alt="" class="img50 img-circle pointer">
                            </td>
                            <td> {{user.email}} </td>
                            <td> {{user.name}} </td>
                            <td>
                                <select [(ngModel)]="user.role" class="form-control">
                                    <option>USER_ROLE </option>
                                    <option>ADMIN_ROLE </option>
                                </select>
                            </td>
                            <td>
                                <label for="" *ngIf="user.google" class="label label-danger">Google</label>
                                <label for="" *ngIf="!user.google" class="label label-primary">Basic</label>
                            </td>

                            <td>
                                <button (click)="saveUser(user)" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                </button>

                                <button (click)="deleteUser(user)" class="btn btn-danger ml-1">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button class="btn btn-secondary" (click)="changeFrom(-5)">Anterior</button>

                <button class="btn btn-secondary ml-1" (click)="changeFrom(5)">Siguiente</button>

            </div>
        </div>
    </div>
</div>